@page
@model HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2>Выберите файл для загрузки</h2>
    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="uploads" /><br>
        <input type="file" name="uploads" /><br>
        <input type="file" name="uploads" /><br>
        <input type="submit" value="Загрузить" />
    </form>
</div>
