@page
@model SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Описание события</title>
</head>
<body>

   @* <form>
        <div class="mb-3">
            <label for="gender" class="form-label">Я ищу</label>
            <div class="btn-group w-100" role="group" aria-label="I am looking for">
                <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off">
                <label class="btn btn-outline-secondary" for="male">Мужчину</label>
                <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off">
                <label class="btn btn-outline-secondary" for="female">Женщину</label>
            </div>
        </div>

        <div class="mb-3">
            <label for="age-range" class="form-label">Возраст</label>
            <div class="range">
                <input type="range" class="form-range" id="age-range" min="18" max="60" value="25">
                <div class="d-flex justify-content-between">
                    <div>18</div>
                    <div>60+</div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="distance" class="form-label">Расстояние</label>
            <div class="range">
                <input type="range" class="form-range" id="distance" min="1" max="100" value="10">
                <div class="d-flex justify-content-between">
                    <div>1 км</div>
                    <div>100+ км</div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="interests" class="form-label">Интересы</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="sports">
                <label class="form-check-label" for="sports">
                    Спорт
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="music">
                <label class="form-check-label" for="music">
                    Музыка
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="travel">
                <label class="form-check-label" for="travel">
                    Путешествия
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>*@

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Настройки находок</h5>
            <form>
                <div class="mb-3">
                    <label for="distance" class="form-label">Максимальное расстояние</label>
                    <input type="range" class="form-range" id="distance" min="1" max="100" value="50">
                    <div class="d-flex justify-content-between">
                        <span>1 км</span>
                        <span>100 км</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="age-range" class="form-label">Диапазон возраста</label>
                    <input type="range" class="form-range" id="age-range" min="18" max="65" value="25,40">
                    <div class="d-flex justify-content-between">
                        <span>18 лет</span>
                        <span>65 лет</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Показывать только</label>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="show-men" checked>
                            <label class="form-check-label" for="show-men">
                                Мужчин
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="show-women" checked>
                            <label class="form-check-label" for="show-women">
                                Женщин
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Показывать только тех, кто ищет</label>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="show-men-seeking" checked>
                            <label class="form-check-label" for="show-men-seeking">
                                Мужчин
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="show-women-seeking" checked>
                            <label class="form-check-label" for="show-women-seeking">
                                Женщин
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>


</body>
</html>
